/* Customize your styles here */
.details-container {
    text-align: center;
    background-image: url('../img/bg3.jpg');
    width:100%;
    background-repeat: no-repeat;
    color: white;
    margin: auto;
    height: 700px;
  }
  .maindiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
  .maindiv h1 {
    font-size:4rem;
    margin-bottom: 10px;
  }
 
  .maindiv div {
    font-size: 1.5rem;
    color: white;
  }
  .maindiv span {
    font-size: 1.6rem;
    color: #039fff;
  }
  .maindiv button{
    padding: 10px 20px;
    margin-top:15px ;
    background-color: #039fff;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  .maindiv button a{
    text-decoration: none;
    color: white;
  }
  .maindiv button:hover{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
  }

  @media screen and (max-width: 768px) {
    .maindiv {
        padding: 10px;
        ; /* Adjusted padding for smaller screens */
    }

    .maindiv h1 {
        font-size: 2.5rem; /* Adjusted font size for smaller screens */
    }

    .maindiv div {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }

    .maindiv span {
        font-size: 1.2rem; /* Adjusted font size for smaller screens */
    }

    .maindiv button {
        padding: 10px 20px; /* Adjusted padding for smaller screens */
        font-size: 0.9rem; /* Adjusted font size for smaller screens */
    }
}